
@import url('https://fonts.googleapis.com/css?family=Work+Sans:500,900');

body {
  font-family: 'Work Sans', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.tooltip {
  position: absolute;
  background-color: white;
  padding:20px;
  z-index: 1000;
  font-size: 14px;
  pointer-events: none;
  margin-top: -36px;
  border-radius: 5px;
  margin-left: 20px;
}


.tooltip:after, .tooltip:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.tooltip:after {
  border-color: rgba(136, 183, 213, 0);
  border-right-color: white;
  border-width: 10px;
  margin-top: -10px;
}
.tooltip:before {
  border-color: rgba(194, 225, 245, 0);
  border-right-color: white;
  border-width: 12px;
  margin-top: -12px;
}
.metaview {
  position: absolute;

  z-index: 1000;
  font-size: 14px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  top:20px;

  /*-webkit-transition-delay: 2500ms;
    -moz-transition-delay: 2500ms;
    -o-transition-delay: 2500ms;
    transition-delay: 2500ms;*/

    -webkit-transition: opacity 200ms ease-in-out, top 200ms ease-in-out;
  -moz-transition: opacity 200ms ease-in-out, top 200ms ease-in-out;
  -ms-transition: opacity 200ms ease-in-out, top 200ms ease-in-out;
  -o-transition: opacity 200ms ease-in-out, top 200ms ease-in-out;
  transition: opacity 200ms ease-in-out, top 200ms ease-in-out;
}

.metaview.active {
  opacity: 1;
  pointer-events: inherit;
  top:0px;
}

.metaview .container {
  background-color: rgba(255, 255, 255, 0.9);
  padding:20px;
  margin:50px;
  
  margin-left:250px;
  margin-right: 250px;
  margin-bottom: 0px;
  border-radius: 5px;
}


.metaview .container .closebutton {
   position: absolute;
   right:250px;
   
   top:50px;
   background-color: rgb(240, 240, 240);
   color:gray;
   padding:20px;
   border-radius: 5px;
}


.container:after, .container:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.container:after {
  border-color: rgba(136, 183, 213, 0);
  border-top-color: rgba(255, 255, 255, 0.9);
  border-width: 30px;
  margin-left: -30px;
}
.container:before {
  border-color: rgba(194, 225, 245, 0);
  border-top-color: rgba(255, 255, 255, 0.9);
  border-width: 36px;
  margin-left: -36px;
}


.metaview .container .closebutton:hover {
   background-color: rgb(240, 240, 240);
   color: black;
   cursor: pointer;
}

.publish-page .background, .publish-page .content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.publish-page .content {
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
}

.button:hover {
  cursor: pointer;
}

.publish-page .button {
  background-color: springgreen;
  width: 250px;
  height: 100px;
  display: flex;
  font-size: 40px;
  padding: 5px;
  font-weight: 900;
  align-items: center;
  justify-content: center;
}

.publish-page .button:hover {
  background-color: black;
  color: white;
}

.publish-page .stats {
  padding-bottom: 5rem;
}

.publish-page .stat {
  display: flex;
  width: 500px;
  font-size: 40px;
  justify-content: space-between;
}

.publish-page .stat:first-child {
  flex: 2;
}

.publish-page .stat:first-child {
  flex: 1;
}

.banner { 
  position: fixed;
  z-index: 1000;
  width: 100%;
  background-color: white;
  bottom: 0px;
  display: flex;
 }

.banner div {
  flex: 1;
   padding:20px;
}
.banner div:nth-child(2) {
  text-align: right;
}


.row {
  display: flex;
}

.row div {
  flex: 1;
  margin:10px;
  //background-color: gray;
}

.row div:first-child {
  text-align: right;
}

.rowi {
  display: flex;
}

.rowi div {
  flex: 1;
  margin:10px;
  //background-color: gray;
  overflow: hidden;
}

.iota {
  padding:20px;
  margin-left:20px;
  margin-right: 20px;
  border-radius: 5px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#59b6ba+0,7c2384+100&0.2+0,0.2+100 */
background: -moz-linear-gradient(top, rgba(89,182,186,0.2) 0%, rgba(124,35,132,0.2) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(89,182,186,0.2) 0%,rgba(124,35,132,0.2) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(89,182,186,0.2) 0%,rgba(124,35,132,0.2) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3359b6ba', endColorstr='#337c2384',GradientType=0 ); /* IE6-9 */
}

span {
  padding-top:10px;
  display: block;
  padding-bottom: 20px;
  font-size: 26px;
}

.road {
  flex: 1 !important;
  //background-color: blue;
}

.road .line {
  border-top: 4px solid red;
}

.road .line.green {
    border-top: 4px solid rgb(80, 220, 100);
}

.road .line.orange {
   border-top: 4px solid rgb(255, 165, 0);
}

.road .line.red {
   border-top: 4px solid rgb(220, 0, 80);
}

.battery {
  text-align: center;
  
   
   padding-top:20px;
   padding-bottom: 20px;
   border-radius: 5px;
}

.battery.green {
 background-color: rgb(80, 220, 100);
}

.battery.red {
  background-color: rgb(220, 0, 80);
}

.battery.orange {
  background-color: rgb(255, 165, 0);
}



.imageiota {
  position: absolute;
}

